# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# datasets
*.csv
*.zip
*.data

# files not to put in repo
Make-toy-finance-dataset.ipynb
tbf